body{
      max-width: 1400px;
      position: relative;
}

main{
  position: absolute;

}


#overskrift{
  width: 100%;
  padding: 1rem;
}

section{
    display: flex;
    gap: 1rem;
    justify-content: center;
}


#arbeidskravliste{
  flex-direction: column;
  padding: 1rem;  
}

#arbeidskravene{
  max-width: 800px;
  text-align: start;
}