body{
  background-color: rgb(66, 63, 60);
  color: rgb(252, 246, 237);
}

h1{
    color: rgb(241, 234, 224);
    font-size: 100px;

}

h2{
    color: rgb(241, 234, 224);
    font-weight: 800;
    padding-bottom: 20px;
   

}

#undertittel{
   font-size: 60px;
   padding-top: 50px;
}

#overskrift{
  width: 100%;
  padding: 1rem;
}

section{
    display: flex;
    gap: 1rem;
    justify-content: center;
}


#arbeidskravliste{
  flex-direction: column;
  padding: 1rem;  
}

#arbeidskravene{
  max-width: 800px;
  text-align: start;
  padding-bottom: 20px;
}